# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build directories
build/
*-build/
.benchmark_stage/
#results/

# Ignore log files
*.log

# Ignore MacOS files
.DS_Store

# Ignore Python Files
__pycache__/

# Ignore Emacs Files
*~
